body {
  font-family: 'Lobster', sans-serif;
}
.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 50%;
}

.section-header2 {
  text-align: center;
  margin-bottom: 20px;
}

.section-header2 h3 {
  font-size: 36px;
  color: #FF0000; 
  margin-bottom: 10px;
  font-family: 'Lobster', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.input-container2 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 5px;
}

.input-container2 > input {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.input-container2 button {
  background-color: plum;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.section-header2 h3 {
  font-family: 'Noto Sans KR', sans-serif;
}

.whole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; 
  margin-top: 10px;
}

.action-header {
  margin-bottom: 10px;
}

.chat-container2 {
  width: 1000px;
  min-height: 800px;
  background: url('summer.png') no-repeat 95% 50%;
  padding: 10px 15px 0;
  position: relative;
  overflow: hidden;
}

.chat-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url();
  pointer-events: none;
  z-index: 1;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
  
  .chat-container2 .list {
    margin-top: 4px;
  }
  
  .list > .content {
    display: inline-block;
    padding: 2px 10px;
  }
  
  .chat-container2 .my-chat {
    position: relative;
    text-align: right;
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(255, 255, 170);
    margin-bottom: 10px; 
  }
  
  .my-chat:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 170);
  }

  .my-chat .content {
    background-color: rgb(255, 255, 170);
  }
  
  .chat-container2 .other-chat {
    text-align: left;
    position: relative;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: white;
    margin-bottom: 10px; 
  }

  .other-chat:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent; 
  }

  .other-chat .content {
    background-color: white;
  }
  
  .input-container2 {
    width: 97%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .input-container2 > input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px; 
  }

  .input-container2 button {
    background-color: plum; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
  }

  .input-container2 button:hover {
    background-color: purple; 
    cursor: pointer;
  }

  .input-container2 button:hover::after {
    background-color: purple; 
    cursor: pointer;
  }
  

  .chat-container2 .notice {
    color: #333;
    font-size: 12px;
    text-align: center;
    margin-top: 9px;
  }

  .chat-container2 .welcome-message {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 15px; 
    color: #333; 
  }

  .section-header2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section-header2 h3 {
    font-size: 24px;
    color: blueviolet; 
    margin-bottom: 10px;
  }
  
  .section-header2 ul {
    list-style: none;
    padding: 0;
  }
  
  .section-header2 li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .section-header2 li:before {
    margin-right: 5px;
  }

  .select-container {
    position: relative;
    display: inline-block;
  }
  
  select {
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }

    select::-ms-expand {
      display: none;
      }
    
