:root {
  --height-header: 30px;
}

*{
  box-sizing: border-box;
}

main {
  margin-top: var(--height-header);
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--height-header);
  width: 100%;
  height: 100px;
  padding: 0 20px;
  top: 0;
  background-color: #2c3e50; /* 배경 색상 추가 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.Header > nav {
  display: flex;
  align-items: center;
}

.Header > nav > div {
  margin-left: 25px;
}

.Header a {
  color: #ecf0f1; /* 링크 텍스트 색상 */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease; /* 링크 색상 변경 트랜지션 */
}

.Header a:hover {
  color: #e74c3c; /* 호버 시 링크 색상 변경 */
}

.christmas {
  text-align: center;
  font-size: larger;
}

.spacer {
  height: calc(var(--height-header) + 100px);
}



